
@{
    ViewBag.Title = "Index";
}

<style>
    .link {
        margin-right: 10px;
    }
</style>

<a href="/Landingpage/Services">Services</a>
<a href="/Landingpage/Teams_and_members">Teams_and_members</a>
<a href="/Landingpage/Contact">Contact</a>

<h2> @ViewBag.Company_name</h2>
<h3> @ViewBag.Bio</h3>
